<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hnust.wx_ticket.mapper.MovieMapper">
<!--<select id="getMovieAndFilm" resultType="com.hnust.wx_ticket.Vo.MovieVo">
select movie.id,film_id,room,room_profile,play_type,site,site,place,price,begin,end,today,duration,type,film_name,actors,mark,profile,picture
FROM movie, film
WHERE movie.film_id = #{filmId} AND film.id = #{filmId} AND movie.film_id = film.id
</select>-->
    <select id="getTotalMoney" resultType="Double">
        select sum(price)  as totalmoney
        FROM movie
        WHERE movie.today like #{date}
    </select>
</mapper>
